<h1>My Books</h1>
<ul>
  <% for book in @books %>
    <li><%= book.Title %></li>
    <%= link_to 'Edit Book', edit_book_path(:id => book.id) %>
    <%= button_to "delete", book_path(:id => book.id), :method => :delete %>
  <% end %>
</ul>
<%= link_to 'New Book', books_new_path %>
