<h1>My Books</h1>
<ul>
  <% for book in @books %>
    <li><%= book.Title %></li>
    <button>Edit</button>
    <button>Remove</button>
  <% end %>
</ul>
<button onclick="<%@newBook%>">Add New Book</button>
